@charset "utf-8";
/* CSS Document */

/* ######################## */
/* General HTML Tag Rules   */
/* ######################## */
body{
	background-image:url(../imgs/bg_body.jpg);
	background-repeat: repeat-x;
	background-color:#e4e4e4;
	background-attachment:fixed;
	background-position:top;
	margin:0;
}

h1,h2,h3,h4,h5,h6 {
	
}

p{

}

a{

}

a:hover{
	
}

hr{
	
}

/* ##############################*/
/* General Template class rules */
/* ############################*/

.wrapOverall{
	margin:0px auto;
	
}

.header{
	background-image:url(../imgs/bg_img_blue.png);
	background-repeat:none;
	background-position:top center;*/
	background-color:#0061C1;
		height:134px;
	
	
}

/*.navMain{
	margin:70px 20px 20px 0px;
	float:right;
	
}*/

.content{
	margin:0px auto;
	padding:10px;
	width:766px;
	background-color:#EEE;
}
.footer{
	background-image:url(../imgs/bg_footer.png);
	background-repeat:non;
	background-position:top center;
	height:56px;
	text-align:center;
	color: #060;
	text-decoration:underline;
	font-weight:bold;
	font:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:14px;
	text-transform:uppercase;
	padding:20px;
	margin:opx;
	
}/**/

/* ##############################*/
/* General Navigation rules     */
/* ############################*/

/**/.navMain ul{
	margin:0px;
	padding:0px;
	
}
.navMain ul li{
		margin:0px;
		padding:0px 10px;
		list-style:none;
		display:inline;
}
.navMain ul li a{
		margin:0px;
		padding:0px;
		color:#FFF;
		text-decoration:none;
		font-weight:normal;
		font-size:20px;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		text-transform:uppercase;
}
.header img.logo{
	float:left;
	margin:50px 50px 50px 0px;
	
 }
/**/.navMain ul li a:hover{
	text-decoration:underline;
	
}

/* ##############################*/
/* General button rules         */
/* ############################*/
